<a href="https://colab.research.google.com/github/JohnSunny511/Pandas/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = [1,2,3,4,5]
series = pd.Series(data)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
print(df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=['c1','c2','c3'], index=['r1','r2','r3'])
print(df)

    c1  c2  c3
r1   1   2   3
r2   4   5   6
r3   7   8   9

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, r1 to r3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c1      3 non-null      int64
 1   c2      3 non-null      int64
 2   c3      3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [ ]:
obese = pd.read_csv('/content/Obesity prediction.csv')
obese.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [ ]:
obese.tail(15)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2096,Female,25.955014,1.626449,104.879602,yes,yes,3.0,3.0,Sometimes,no,2.094901,no,0.070890,0.599441,Sometimes,Public_Transportation,Obesity_Type_III
2097,Female,25.996716,1.626580,105.037203,yes,yes,3.0,3.0,Sometimes,no,2.347322,no,0.008013,0.503896,Sometimes,Public_Transportation,Obesity_Type_III
2098,Female,25.992348,1.606474,104.954291,yes,yes,3.0,3.0,Sometimes,no,2.331123,no,0.063383,0.561661,Sometimes,Public_Transportation,Obesity_Type_III
2099,Female,25.974446,1.628855,108.090006,yes,yes,3.0,3.0,Sometimes,no,1.757105,no,0.085119,0.465444,Sometimes,Public_Transportation,Obesity_Type_III
2100,Female,25.777565,1.628205,107.378702,yes,yes,3.0,3.0,Sometimes,no,2.506631,no,0.025787,0.484165,Sometimes,Public_Transportation,Obesity_Type_III
2101,Female,25.722004,1.628470,107.218949,yes,yes,3.0,3.0,Sometimes,no,2.487070,no,0.067329,0.455823,Sometimes,Public_Transportation,Obesity_Type_III
2102,Female,25.765628,1.627839,108.107360,yes,yes,3.0,3.0,Sometimes,no,2.320068,no,0.045246,0.413106,Sometimes,Public_Transportation,Obesity_Type_III
2103,Female,21.016849,1.724268,133.033523,yes,yes,3.0,3.0,Sometimes,no,1.650612,no,1.537639,0.912457,Sometimes,Public_Transportation,Obesity_Type_III
2104,Female,21.682367,1.732383,133.043941,yes,yes,3.0,3.0,Sometimes,no,1.610768,no,1.510398,0.931455,Sometimes,Public_Transportation,Obesity_Type_III
2105,Female,21.285965,1.726920,131.335786,yes,yes,3.0,3.0,Sometimes,no,1.796267,no,1.728332,0.897924,Sometimes,Public_Transportation,Obesity_Type_III
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [ ]:
obese.sample(10)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1989,Female,26.000000,1.626503,110.818757,yes,yes,3.000000,3.000000,Sometimes,no,2.708927,no,0.000000,0.278962,Sometimes,Public_Transportation,Obesity_Type_III
1381,Female,33.226808,1.557943,77.647716,yes,yes,2.020910,2.093831,Sometimes,no,1.506518,no,0.000000,0.000000,Sometimes,Automobile,Obesity_Type_I
1904,Female,20.190733,1.680762,125.418548,yes,yes,3.000000,3.000000,Sometimes,no,1.124366,no,0.877067,0.552006,Sometimes,Public_Transportation,Obesity_Type_III
2094,Female,26.000000,1.643892,111.884535,yes,yes,3.000000,3.000000,Sometimes,no,2.768141,no,0.000000,0.094213,Sometimes,Public_Transportation,Obesity_Type_III
950,Male,22.874658,1.713343,75.828119,yes,yes,2.507841,3.648194,Sometimes,no,1.279756,no,0.132629,1.827530,Sometimes,Public_Transportation,Overweight_Level_I
1583,Male,31.346845,1.823545,126.460936,yes,yes,2.938801,3.000000,Sometimes,yes,1.478994,no,0.946763,1.360463,Sometimes,Public_Transportation,Obesity_Type_II
1205,Female,33.864257,1.679299,77.355417,yes,yes,2.768020,2.137068,Sometimes,no,1.873591,no,0.966973,0.691944,no,Automobile,Overweight_Level_II
221,Male,23.000000,1.720000,82.000000,yes,yes,2.000000,1.000000,Sometimes,no,1.000000,no,1.000000,1.000000,Sometimes,Public_Transportation,Overweight_Level_II
1451,Male,20.924808,1.803245,105.686091,yes,yes,2.000000,3.000000,Sometimes,no,2.290368,no,0.001086,0.544128,Sometimes,Public_Transportation,Obesity_Type_I
805,Male,21.033794,1.625891,70.000000,no,yes,2.000000,1.000000,no,no,2.008760,no,0.631190,0.000000,Sometimes,Public_Transportation,Overweight_Level_I

In [ ]:
obese.sample(10, random_state = 10)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2054,Female,21.008297,1.723587,131.929712,yes,yes,3.000000,3.000000,Sometimes,no,1.683448,no,1.645532,0.858059,Sometimes,Public_Transportation,Obesity_Type_III
1152,Male,22.988004,1.808270,91.363293,yes,yes,1.963965,1.836226,Sometimes,no,1.855370,no,0.000000,1.667745,Sometimes,Public_Transportation,Overweight_Level_II
1883,Female,26.000000,1.631332,111.829957,yes,yes,3.000000,3.000000,Sometimes,no,2.559750,no,0.000000,0.237307,Sometimes,Public_Transportation,Obesity_Type_III
248,Male,21.000000,1.720000,72.000000,yes,yes,3.000000,3.000000,Always,no,3.000000,yes,3.000000,0.000000,Sometimes,Automobile,Normal_Weight
375,Male,41.000000,1.800000,92.000000,yes,yes,2.000000,1.000000,Frequently,no,3.000000,no,1.000000,0.000000,Sometimes,Automobile,Overweight_Level_II
589,Female,19.948140,1.530884,39.371523,no,yes,1.522001,3.000000,Sometimes,no,1.981260,no,2.306844,0.720454,Sometimes,Public_Transportation,Insufficient_Weight
1373,Male,26.032416,1.824432,105.131956,yes,yes,3.000000,3.000000,Sometimes,no,2.110611,no,1.890907,1.584830,Sometimes,Public_Transportation,Obesity_Type_I
370,Male,19.000000,1.800000,60.000000,no,yes,2.000000,3.000000,Sometimes,no,1.000000,no,1.000000,1.000000,no,Public_Transportation,Normal_Weight
145,Male,21.000000,1.620000,70.000000,no,yes,2.000000,1.000000,no,no,3.000000,no,1.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_I
1703,Male,22.580038,1.849507,121.560938,yes,yes,3.000000,2.272801,Sometimes,no,1.560064,no,0.796770,0.000000,Sometimes,Public_Transportation,Obesity_Type_II

In [ ]:
list(obese.columns)

['Gender',
 'Age',
 'Height',
 'Weight',
 'family_history',
 'FAVC',
 'FCVC',
 'NCP',
 'CAEC',
 'SMOKE',
 'CH2O',
 'SCC',
 'FAF',
 'TUE',
 'CALC',
 'MTRANS',
 'Obesity']

In [ ]:
obese.columns.tolist()

['Gender',
 'Age',
 'Height',
 'Weight',
 'family_history',
 'FAVC',
 'FCVC',
 'NCP',
 'CAEC',
 'SMOKE',
 'CH2O',
 'SCC',
 'FAF',
 'TUE',
 'CALC',
 'MTRANS',
 'Obesity']

In [ ]:
obese.index

RangeIndex(start=0, stop=2111, step=1)

In [ ]:
obese.size

35887

In [ ]:
obese.describe()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000
mean,24.312600,1.701677,86.586058,2.419043,2.685628,2.008011,1.010298,0.657866
std,6.345968,0.093305,26.191172,0.533927,0.778039,0.612953,0.850592,0.608927
min,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,19.947192,1.630000,65.473343,2.000000,2.658738,1.584812,0.124505,0.000000
50%,22.777890,1.700499,83.000000,2.385502,3.000000,2.000000,1.000000,0.625350
75%,26.000000,1.768464,107.430682,3.000000,3.000000,2.477420,1.666678,1.000000
max,61.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000

In [ ]:
obese.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2111 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2111 non-null   float64
 3   Weight          2111 non-null   float64
 4   family_history  2111 non-null   object
 5   FAVC            2111 non-null   object
 6   FCVC            2111 non-null   float64
 7   NCP             2111 non-null   float64
 8   CAEC            2111 non-null   object
 9   SMOKE           2111 non-null   object
 10  CH2O            2111 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2111 non-null   object
 15  MTRANS          2111 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [ ]:
obese.loc[0,'Age']

0    21.0
1    21.0
2    23.0
3    27.0
4    22.0
5    29.0
Name: Age, dtype: float64

In [ ]:
obese.loc[0:5,'Age']

0    21.0
1    21.0
2    23.0
3    27.0
4    22.0
5    29.0
Name: Age, dtype: float64

In [ ]:
obese.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [ ]:
obese.loc[0:5,['Age','Height','Weight']]

    Age  Height  Weight
0  21.0    1.62    64.0
1  21.0    1.52    56.0
2  23.0    1.80    77.0
3  27.0    1.80    87.0
4  22.0    1.78    89.8
5  29.0    1.62    53.0

In [ ]:
obese.loc[[0,5,9],['Age','Height','Weight']]

    Age  Height  Weight
0  21.0    1.62    64.0
5  29.0    1.62    53.0
9  22.0    1.72    68.0

In [ ]:
obese.loc[0:5,'Age':'FAF']

,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF
0,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0
1,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0
2,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0
3,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0
4,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0
5,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0

In [ ]:
obese.loc[:,'Age']

0       21.000000
1       21.000000
2       23.000000
3       27.000000
4       22.000000
          ...
2106    20.976842
2107    21.982942
2108    22.524036
2109    24.361936
2110    23.664709
Name: Age, Length: 2111, dtype: float64

In [ ]:
obese.loc[:2100]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2096,Female,25.955014,1.626449,104.879602,yes,yes,3.0,3.0,Sometimes,no,2.094901,no,0.070890,0.599441,Sometimes,Public_Transportation,Obesity_Type_III
2097,Female,25.996716,1.626580,105.037203,yes,yes,3.0,3.0,Sometimes,no,2.347322,no,0.008013,0.503896,Sometimes,Public_Transportation,Obesity_Type_III
2098,Female,25.992348,1.606474,104.954291,yes,yes,3.0,3.0,Sometimes,no,2.331123,no,0.063383,0.561661,Sometimes,Public_Transportation,Obesity_Type_III
2099,Female,25.974446,1.628855,108.090006,yes,yes,3.0,3.0,Sometimes,no,1.757105,no,0.085119,0.465444,Sometimes,Public_Transportation,Obesity_Type_III
2100,Female,25.777565,1.628205,107.378702,yes,yes,3.0,3.0,Sometimes,no,2.506631,no,0.025787,0.484165,Sometimes,Public_Transportation,Obesity_Type_III

In [ ]:
obese.loc[2100:]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2100,Female,25.777565,1.628205,107.378702,yes,yes,3.0,3.0,Sometimes,no,2.506631,no,0.025787,0.484165,Sometimes,Public_Transportation,Obesity_Type_III
2101,Female,25.722004,1.628470,107.218949,yes,yes,3.0,3.0,Sometimes,no,2.487070,no,0.067329,0.455823,Sometimes,Public_Transportation,Obesity_Type_III
2102,Female,25.765628,1.627839,108.107360,yes,yes,3.0,3.0,Sometimes,no,2.320068,no,0.045246,0.413106,Sometimes,Public_Transportation,Obesity_Type_III
2103,Female,21.016849,1.724268,133.033523,yes,yes,3.0,3.0,Sometimes,no,1.650612,no,1.537639,0.912457,Sometimes,Public_Transportation,Obesity_Type_III
2104,Female,21.682367,1.732383,133.043941,yes,yes,3.0,3.0,Sometimes,no,1.610768,no,1.510398,0.931455,Sometimes,Public_Transportation,Obesity_Type_III
2105,Female,21.285965,1.726920,131.335786,yes,yes,3.0,3.0,Sometimes,no,1.796267,no,1.728332,0.897924,Sometimes,Public_Transportation,Obesity_Type_III
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [ ]:
obese.iloc[:10,[0,1]]   #iloc expects index

   Gender   Age
0  Female  21.0
1  Female  21.0
2    Male  23.0
3    Male  27.0
4    Male  22.0
5    Male  29.0
6  Female  23.0
7    Male  22.0
8    Male  24.0
9    Male  22.0

In [ ]:
obese.at[0,'Age']

np.float64(21.0)

In [ ]:
obese.iat[0,1]

np.float64(21.0)

In [ ]:
obese['Age']

0       21.000000
1       21.000000
2       23.000000
3       27.000000
4       22.000000
          ...
2106    20.976842
2107    21.982942
2108    22.524036
2109    24.361936
2110    23.664709
Name: Age, Length: 2111, dtype: float64

In [ ]:
obese.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [ ]:
obese.loc[obese['Height']>1]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [ ]:
obese.loc[obese['Weight']<50]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
36,Female,22.000000,1.560000,49.000000,no,yes,2.000000,3.000000,Sometimes,no,1.000000,yes,2.000000,0.000000,no,Walking,Normal_Weight
37,Female,21.000000,1.600000,48.000000,no,yes,2.000000,3.000000,Sometimes,no,1.000000,no,1.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
51,Female,20.000000,1.500000,44.000000,no,yes,2.000000,3.000000,Sometimes,no,1.000000,no,0.000000,0.000000,Sometimes,Automobile,Normal_Weight
60,Female,21.000000,1.550000,49.000000,yes,yes,2.000000,3.000000,Sometimes,no,3.000000,no,3.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
75,Female,23.000000,1.630000,45.000000,yes,no,3.000000,3.000000,Sometimes,no,3.000000,yes,2.000000,0.000000,no,Public_Transportation,Insufficient_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,Female,19.269079,1.580920,44.753943,no,no,3.000000,2.975362,Frequently,no,1.246822,yes,0.979701,0.000000,Sometimes,Public_Transportation,Insufficient_Weight
738,Female,19.946244,1.603435,45.000000,no,no,3.000000,3.000000,Frequently,no,2.487919,yes,1.230441,0.000000,Sometimes,Public_Transportation,Insufficient_Weight
739,Female,19.639431,1.535350,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.496810,no,0.000000,0.513427,Sometimes,Public_Transportation,Insufficient_Weight
740,Female,19.000000,1.531610,42.000000,no,yes,2.749268,1.394539,Frequently,no,1.322048,no,0.463949,0.800993,Sometimes,Public_Transportation,Insufficient_Weight
741,Female,19.434709,1.525691,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.764055,no,0.000000,0.560887,Sometimes,Public_Transportation,Insufficient_Weight

In [ ]:
obese.loc[(obese['Age'] < 20) & (obese['Obesity'] == 'Normal_Weight')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
28,Male,19.0,1.75,76.0,yes,yes,3.0,3.0,Sometimes,no,2.0,yes,3.0,1.0,Sometimes,Public_Transportation,Normal_Weight
58,Female,17.0,1.65,67.0,yes,yes,3.0,1.0,Sometimes,no,2.0,no,1.0,1.0,no,Walking,Normal_Weight
73,Male,19.0,1.85,65.0,yes,no,2.0,3.0,Sometimes,no,3.0,no,2.0,1.0,Sometimes,Bike,Normal_Weight
80,Female,19.0,1.63,58.0,no,no,3.0,3.0,Sometimes,no,2.0,yes,0.0,0.0,no,Public_Transportation,Normal_Weight
112,Female,18.0,1.56,51.0,yes,yes,2.0,4.0,Frequently,no,2.0,no,1.0,0.0,Sometimes,Public_Transportation,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480,Female,18.0,1.57,50.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
481,Male,18.0,1.74,64.0,yes,yes,3.0,4.0,Sometimes,no,1.0,yes,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
489,Female,19.0,1.56,50.0,no,yes,2.0,1.0,Sometimes,no,1.0,no,0.0,2.0,no,Public_Transportation,Normal_Weight
494,Female,18.0,1.67,66.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
495,Male,19.0,1.80,60.0,yes,yes,3.0,1.0,Always,no,1.0,yes,0.0,0.0,no,Motorbike,Normal_Weight

In [ ]:
obese.loc[obese['Obesity'].str.contains('Normal')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,Male,25.0,1.66,68.0,no,yes,2.0,3.0,Sometimes,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
493,Male,20.0,1.80,65.0,no,yes,2.0,3.0,Frequently,no,1.0,no,2.0,0.0,Sometimes,Motorbike,Normal_Weight
494,Female,18.0,1.67,66.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
495,Male,19.0,1.80,60.0,yes,yes,3.0,1.0,Always,no,1.0,yes,0.0,0.0,no,Motorbike,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [ ]:
obese.loc[obese['Obesity'].str.startswith('Weight')]

Empty DataFrame
Columns: [Gender, Age, Height, Weight, family_history, FAVC, FCVC, NCP, CAEC, SMOKE, CH2O, SCC, FAF, TUE, CALC, MTRANS, Obesity]
Index: []

In [ ]:
obese.loc[3,'Age'] = 24

In [ ]:
obese.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,24,24.0,24.00,24.0,24,24,24.0,24.0,24,24,24.0,24,24.0,24.0,24,24,24
3,Male,24.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [ ]:
obese.loc[:5,'SMOKE'] = 'Yes'

In [ ]:
obese.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,Yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,Yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,24,24.0,24.00,24.0,24,24,24.0,24.0,24,Yes,24.0,24,24.0,24.0,24,24,24
3,Male,24.0,1.80,87.0,no,no,3.0,3.0,Sometimes,Yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,Yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [ ]:
obese.loc[[3,4],'Height'] = 1.7

In [ ]:
obese.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,height
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,Yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,NaN
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,Yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,NaN
2,24,24.0,24.00,24.0,24,24,24.0,24.0,24,Yes,24.0,24,24.0,24.0,24,24,24,NaN
3,Male,24.0,1.70,87.0,no,no,3.0,3.0,Sometimes,Yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,1.7
4,Male,22.0,1.70,89.8,no,no,2.0,1.0,Sometimes,Yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,1.7

In [ ]:
obese.iloc[1,4] = 'no'

In [ ]:
obese.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,height
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,Yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,NaN
1,Female,21.0,1.52,56.0,no,no,3.0,3.0,Sometimes,Yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,NaN
2,24,24.0,24.00,24.0,24,24,24.0,24.0,24,Yes,24.0,24,24.0,24.0,24,24,24,NaN
3,Male,24.0,1.70,87.0,no,no,3.0,3.0,Sometimes,Yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,1.7
4,Male,22.0,1.70,89.8,no,no,2.0,1.0,Sometimes,Yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,1.7

In [ ]:
obese.iloc[:2,9] = 'doesnt matter'

In [ ]:
obese.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,height
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,doesnt matter,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,NaN
1,Female,21.0,1.52,56.0,no,no,3.0,3.0,Sometimes,doesnt matter,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,NaN
2,24,24.0,24.00,24.0,24,24,24.0,24.0,24,Yes,24.0,24,24.0,24.0,24,24,24,NaN
3,Male,24.0,1.70,87.0,no,no,3.0,3.0,Sometimes,Yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,1.7
4,Male,22.0,1.70,89.8,no,no,2.0,1.0,Sometimes,Yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,1.7

In [ ]:
obese.at[2,'Obesity'] = 'Way over the limit'

In [ ]:
obese.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,height
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,doesnt matter,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,NaN
1,Female,21.0,1.52,56.0,no,no,3.0,3.0,Sometimes,doesnt matter,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,NaN
2,24,24.0,24.00,24.0,24,24,24.0,24.0,24,Yes,24.0,24,24.0,24.0,24,24,Way over the limit,NaN
3,Male,24.0,1.70,87.0,no,no,3.0,3.0,Sometimes,Yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,1.7
4,Male,22.0,1.70,89.8,no,no,2.0,1.0,Sometimes,Yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,1.7

In [ ]:
obese.iat[2,0] = "Cannot be disclosed"

In [ ]:
obese.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,height,0
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,doesnt matter,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,NaN,NaN
1,Female,21.0,1.52,56.0,no,no,3.0,3.0,Sometimes,doesnt matter,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,NaN,NaN
2,Cannot be disclosed,24.0,24.00,24.0,24,24,24.0,24.0,24,Yes,24.0,24,24.0,24.0,24,24,Way over the limit,NaN,Cannot be disclosed
3,Male,24.0,1.70,87.0,no,no,3.0,3.0,Sometimes,Yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,1.7,NaN
4,Male,22.0,1.70,89.8,no,no,2.0,1.0,Sometimes,Yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,1.7,NaN

In [ ]:
def inc_age_by_5(x):
  return x+5

obese['Age'] = obese['Age'].apply(inc_age_by_5)

obese.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,height,0
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,doesnt matter,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,NaN,NaN
1,Female,21.0,1.52,56.0,no,no,3.0,3.0,Sometimes,doesnt matter,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,NaN,NaN
2,Cannot be disclosed,24.0,24.00,24.0,24,24,24.0,24.0,24,Yes,24.0,24,24.0,24.0,24,24,Way over the limit,NaN,Cannot be disclosed
3,Male,24.0,1.70,87.0,no,no,3.0,3.0,Sometimes,Yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,1.7,NaN
4,Male,22.0,1.70,89.8,no,no,2.0,1.0,Sometimes,Yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,1.7,NaN

In [ ]:
obese['Age'] = obese['Age'].apply(lambda x : x - 5)
obese.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,height,0
0,Female,26.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,doesnt matter,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,NaN,NaN
1,Female,26.0,1.52,56.0,no,no,3.0,3.0,Sometimes,doesnt matter,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,NaN,NaN
2,Cannot be disclosed,29.0,24.00,24.0,24,24,24.0,24.0,24,Yes,24.0,24,24.0,24.0,24,24,Way over the limit,NaN,Cannot be disclosed
3,Male,29.0,1.70,87.0,no,no,3.0,3.0,Sometimes,Yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,1.7,NaN
4,Male,27.0,1.70,89.8,no,no,2.0,1.0,Sometimes,Yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,1.7,NaN

In [ ]:
obese['Age Category'] = obese['Age'].apply(lambda x : 'Very Young' if x < 30 else 'oldy' )
obese.head(20)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,height,0,Age Category
0,Female,26.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,doesnt matter,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,NaN,NaN,Very Young
1,Female,26.0,1.52,56.0,no,no,3.0,3.0,Sometimes,doesnt matter,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,NaN,NaN,Very Young
2,Cannot be disclosed,29.0,24.00,24.0,24,24,24.0,24.0,24,Yes,24.0,24,24.0,24.0,24,24,Way over the limit,NaN,Cannot be disclosed,Very Young
3,Male,29.0,1.70,87.0,no,no,3.0,3.0,Sometimes,Yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,1.7,NaN,Very Young
4,Male,27.0,1.70,89.8,no,no,2.0,1.0,Sometimes,Yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,1.7,NaN,Very Young
5,Male,34.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,Yes,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight,NaN,NaN,oldy
6,Female,28.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight,NaN,NaN,Very Young
7,Male,27.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,NaN,NaN,Very Young
8,Male,29.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight,NaN,NaN,Very Young
9,Male,27.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight,NaN,NaN,Very Young
10,Male,31.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,no,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I,NaN,NaN,oldy
11,Female,26.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Overweight_Level_II,NaN,NaN,Very Young
12,Male,27.0,1.65,56.0,no,no,3.0,3.0,Sometimes,no,3.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight,NaN,NaN,Very Young
13,Male,46.0,1.80,99.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Automobile,Obesity_Type_I,NaN,NaN,oldy
14,Male,28.0,1.77,60.0,yes,yes,3.0,1.0,Sometimes,no,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight,NaN,NaN,Very Young
15,Female,27.0,1.70,66.0,yes,no,3.0,3.0,Always,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight,NaN,NaN,Very Young
16,Male,32.0,1.93,102.0,yes,yes,2.0,1.0,Sometimes,no,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,NaN,NaN,oldy
17,Female,34.0,1.53,78.0,no,yes,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,no,Automobile,Obesity_Type_I,NaN,NaN,oldy
18,Female,35.0,1.71,82.0,yes,yes,3.0,4.0,Frequently,yes,1.0,no,0.0,0.0,no,Automobile,Overweight_Level_II,NaN,NaN,oldy
19,Female,28.0,1.65,70.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I,NaN,NaN,Very Young

In [ ]:
import numpy as np

In [ ]:
obese["New Age Category"] = np.where(obese['Age'] < 30 , 'Very young' , 'OLD')
obese.head(10)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,...,SCC,FAF,TUE,CALC,MTRANS,Obesity,height,0,Age Category,New Age Category
0,Female,26.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,doesnt matter,...,no,0.0,1.0,no,Public_Transportation,Normal_Weight,NaN,NaN,Very Young,Very young
1,Female,26.0,1.52,56.0,no,no,3.0,3.0,Sometimes,doesnt matter,...,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,NaN,NaN,Very Young,Very young
2,Cannot be disclosed,29.0,24.00,24.0,24,24,24.0,24.0,24,Yes,...,24,24.0,24.0,24,24,Way over the limit,NaN,Cannot be disclosed,Very Young,Very young
3,Male,29.0,1.70,87.0,no,no,3.0,3.0,Sometimes,Yes,...,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,1.7,NaN,Very Young,Very young
4,Male,27.0,1.70,89.8,no,no,2.0,1.0,Sometimes,Yes,...,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,1.7,NaN,Very Young,Very young
5,Male,34.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,Yes,...,no,0.0,0.0,Sometimes,Automobile,Normal_Weight,NaN,NaN,oldy,OLD
6,Female,28.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,...,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight,NaN,NaN,Very Young,Very young
7,Male,27.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,...,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,NaN,NaN,Very Young,Very young
8,Male,29.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,...,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight,NaN,NaN,Very Young,Very young
9,Male,27.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,...,no,1.0,1.0,no,Public_Transportation,Normal_Weight,NaN,NaN,Very Young,Very young

In [ ]:
obese.insert(2,'bmi',20)

In [ ]:
obese.head()

,Gender,Age,bmi,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,...,SCC,FAF,TUE,CALC,MTRANS,Obesity,height,0,Age Category,New Age Category
0,Female,26.0,20,1.62,64.0,yes,no,2.0,3.0,Sometimes,...,no,0.0,1.0,no,Public_Transportation,Normal_Weight,NaN,NaN,Very Young,Very young
1,Female,26.0,20,1.52,56.0,no,no,3.0,3.0,Sometimes,...,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,NaN,NaN,Very Young,Very young
2,Cannot be disclosed,29.0,20,24.00,24.0,24,24,24.0,24.0,24,...,24,24.0,24.0,24,24,Way over the limit,NaN,Cannot be disclosed,Very Young,Very young
3,Male,29.0,20,1.70,87.0,no,no,3.0,3.0,Sometimes,...,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,1.7,NaN,Very Young,Very young
4,Male,27.0,20,1.70,89.8,no,no,2.0,1.0,Sometimes,...,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,1.7,NaN,Very Young,Very young

In [ ]:
obese.drop(columns='bmi')

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,...,SCC,FAF,TUE,CALC,MTRANS,Obesity,height,0,Age Category,New Age Category
0,Female,26.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,doesnt matter,...,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight,NaN,NaN,Very Young,Very young
1,Female,26.000000,1.520000,56.000000,no,no,3.0,3.0,Sometimes,doesnt matter,...,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight,NaN,NaN,Very Young,Very young
2,Cannot be disclosed,29.000000,24.000000,24.000000,24,24,24.0,24.0,24,Yes,...,24,24.000000,24.000000,24,24,Way over the limit,NaN,Cannot be disclosed,Very Young,Very young
3,Male,29.000000,1.700000,87.000000,no,no,3.0,3.0,Sometimes,Yes,...,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I,1.7,NaN,Very Young,Very young
4,Male,27.000000,1.700000,89.800000,no,no,2.0,1.0,Sometimes,Yes,...,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II,1.7,NaN,Very Young,Very young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,25.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,...,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III,NaN,NaN,Very Young,Very young
2107,Female,26.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,...,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III,NaN,NaN,Very Young,Very young
2108,Female,27.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,...,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III,NaN,NaN,Very Young,Very young
2109,Female,29.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,...,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III,NaN,NaN,Very Young,Very young
2110,Female,28.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,...,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III,NaN,NaN,Very Young,Very young

In [ ]:
obese.head()

,Gender,Age,bmi,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,...,SCC,FAF,TUE,CALC,MTRANS,Obesity,height,0,Age Category,New Age Category
0,Female,26.0,20,1.62,64.0,yes,no,2.0,3.0,Sometimes,...,no,0.0,1.0,no,Public_Transportation,Normal_Weight,NaN,NaN,Very Young,Very young
1,Female,26.0,20,1.52,56.0,no,no,3.0,3.0,Sometimes,...,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,NaN,NaN,Very Young,Very young
2,Cannot be disclosed,29.0,20,24.00,24.0,24,24,24.0,24.0,24,...,24,24.0,24.0,24,24,Way over the limit,NaN,Cannot be disclosed,Very Young,Very young
3,Male,29.0,20,1.70,87.0,no,no,3.0,3.0,Sometimes,...,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,1.7,NaN,Very Young,Very young
4,Male,27.0,20,1.70,89.8,no,no,2.0,1.0,Sometimes,...,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,1.7,NaN,Very Young,Very young

In [ ]:
obese = obese.drop(columns='bmi')

In [ ]:
obese.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,...,SCC,FAF,TUE,CALC,MTRANS,Obesity,height,0,Age Category,New Age Category
0,Female,26.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,doesnt matter,...,no,0.0,1.0,no,Public_Transportation,Normal_Weight,NaN,NaN,Very Young,Very young
1,Female,26.0,1.52,56.0,no,no,3.0,3.0,Sometimes,doesnt matter,...,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,NaN,NaN,Very Young,Very young
2,Cannot be disclosed,29.0,24.00,24.0,24,24,24.0,24.0,24,Yes,...,24,24.0,24.0,24,24,Way over the limit,NaN,Cannot be disclosed,Very Young,Very young
3,Male,29.0,1.70,87.0,no,no,3.0,3.0,Sometimes,Yes,...,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,1.7,NaN,Very Young,Very young
4,Male,27.0,1.70,89.8,no,no,2.0,1.0,Sometimes,Yes,...,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,1.7,NaN,Very Young,Very young

In [ ]:
obese.drop(columns='bmi', inplace=True)

In [ ]:
obese.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,...,SCC,FAF,TUE,CALC,MTRANS,Obesity,height,0,Age Category,New Age Category
0,Female,26.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,doesnt matter,...,no,0.0,1.0,no,Public_Transportation,Normal_Weight,NaN,NaN,Very Young,Very young
1,Female,26.0,1.52,56.0,no,no,3.0,3.0,Sometimes,doesnt matter,...,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,NaN,NaN,Very Young,Very young
2,Cannot be disclosed,29.0,24.00,24.0,24,24,24.0,24.0,24,Yes,...,24,24.0,24.0,24,24,Way over the limit,NaN,Cannot be disclosed,Very Young,Very young
3,Male,29.0,1.70,87.0,no,no,3.0,3.0,Sometimes,Yes,...,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,1.7,NaN,Very Young,Very young
4,Male,27.0,1.70,89.8,no,no,2.0,1.0,Sometimes,Yes,...,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,1.7,NaN,Very Young,Very young

In [ ]:
del obese['CAEC']

In [ ]:
obese.head()

NameError: name 'obese' is not defined

In [ ]:
obese.rename(columns={'Obesity' : 'Obeese'})

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obeese
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [ ]:
df = pd.DataFrame({
    'id' : [1,2,3,4],
    'Name' : ['John', 'Joe', 'Jan', 'Jude']
})

df2 = pd.DataFrame({
    'id' : [3, 4, 5, 6],
    'Name' : ['Jacob', 'Jose', 'jack', 'Rose']
})

inres = pd.merge(df, df2, how = 'inner', on = 'id')
inres

   id Name_x Name_y
0   3    Jan  Jacob
1   4   Jude   Jose

In [ ]:
outres = pd.merge(df, df2, how = 'outer', on = 'id')
outres

   id Name_x Name_y
0   1   John    NaN
1   2    Joe    NaN
2   3    Jan  Jacob
3   4   Jude   Jose
4   5    NaN   jack
5   6    NaN   Rose

In [ ]:
lefres = pd.merge(df, df2, how='left', on='id')
lefres

   id Name_x Name_y
0   1   John    NaN
1   2    Joe    NaN
2   3    Jan  Jacob
3   4   Jude   Jose

In [ ]:
rigres = pd.merge(df, df2, how='right', on='id')
rigres

   id Name_x Name_y
0   3    Jan  Jacob
1   4   Jude   Jose
2   5    NaN   jack
3   6    NaN   Rose

In [ ]:
df = pd.DataFrame({
    'id' : [1,2,3,4],
    'Name' : ['John', 'Joe', 'Jan', 'Jude']
})

df2 = pd.DataFrame({
    'id' : [3, 4, 5, 6],
    'Course' : ['Jacob', 'Jose', 'jack', 'Rose']
})

res = pd.concat([df, df2], axis=1)
res

   id  Name  id Course
0   1  John   3  Jacob
1   2   Joe   4   Jose
2   3   Jan   5   jack
3   4  Jude   6   Rose

In [ ]:
res = pd.concat([df, df2], axis=0, keys=['df', 'df2'])
res

       id  Name Course
df  0   1  John    NaN
    1   2   Joe    NaN
    2   3   Jan    NaN
    3   4  Jude    NaN
df2 0   3   NaN  Jacob
    1   4   NaN   Jose
    2   5   NaN   jack
    3   6   NaN   Rose

In [ ]:
res.isna()

          id   Name  Course
df  0  False  False    True
    1  False  False    True
    2  False  False    True
    3  False  False    True
df2 0  False   True   False
    1  False   True   False
    2  False   True   False
    3  False   True   False

In [ ]:
res.isna().sum()

id        0
Name      4
Course    4
dtype: int64

In [ ]:
res.notna()

         id   Name  Course
df  0  True   True   False
    1  True   True   False
    2  True   True   False
    3  True   True   False
df2 0  True  False    True
    1  True  False    True
    2  True  False    True
    3  True  False    True

In [ ]:
obese.isna().sum()

Gender            0
Age               0
Height            0
Weight            0
family_history    0
FAVC              0
FCVC              0
NCP               0
CAEC              0
SMOKE             0
CH2O              0
SCC               0
FAF               0
TUE               0
CALC              0
MTRANS            0
Obesity           0
dtype: int64

In [ ]:
import numpy as np

In [ ]:
obese.loc[0,'Age'] = np.nan
obese.loc[0,'Height'] = np.nan
obese.loc[0,'Weight'] = np.nan

In [ ]:
obese.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,NaN,NaN,NaN,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [ ]:
obese.fillna(0, inplace=True)

In [ ]:
obese.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,NaN,NaN,NaN,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [ ]:
obese['Age'] = obese['Age'].fillna(20)

In [ ]:
obese.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,20.0,NaN,NaN,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [ ]:
obese['Age'] = obese['Age'].fillna(obese['Age'].mean())

In [ ]:
obese.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,24.31417,NaN,NaN,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.00000,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.00000,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.00000,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.00000,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [ ]:
obese.loc[3,'Age'] = np.nan

In [ ]:
obese.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,24.31417,NaN,NaN,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.00000,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.00000,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,NaN,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.00000,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [ ]:
obese['Age'] = obese['Age'].fillna(obese['Age'].interpolate())
obese.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,24.31417,NaN,NaN,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.00000,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.00000,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,22.50000,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.00000,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [ ]:
obese.dropna()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,22.500000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.000000,1.620000,53.000000,no,yes,2.0,3.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Automobile,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [ ]:
obese.groupby('Gender').count()

,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
Gender,,,,,,,,,,,,,,,,
Female,1043,1042,1042,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043,1043
Male,1068,1068,1068,1068,1068,1068,1068,1068,1068,1068,1068,1068,1068,1068,1068,1068

In [ ]:
obese.groupby('Gender')['Height'].mean()

Gender
Female    1.64332
Male      1.75869
Name: Height, dtype: float64

In [ ]:
obese.groupby('Gender')['Height'].median()

Gender
Female    1.639762
Male      1.760000
Name: Height, dtype: float64

In [ ]:
obese.groupby('Gender')['Height'].agg(['sum','mean'])

                sum     mean
Gender
Female  1712.339615  1.64332
Male    1878.281278  1.75869